[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
djangorestframework = "*"
pytest = "*"
requests = "*"
pytest-django = "*"
pytest-watch = "*"
pytest-xdist = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
